@model WebApplication1.ViewModels.MostrarUsuariosVM;

@{
    ViewData["Title"] = "Usuarios";
}

<h1 class="titulo-vista">Usuarios</h1>
<a href="#" class="btn btn-success">+ Nuevo usuario</a>
<section id="lista">
    @foreach(var usuario in Model.usuarios)
    {
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#infoUsuario">
            <article>
                <img src="@($"https://avatar.iran.liara.run/username?username={usuario.Apellidos}+{usuario.Nombres}")"/>
                <h2>
                    @usuario.NombreUsuario
                </h2>
                <p><strong>Nombre Completo</strong>@usuario.Apellidos, @usuario.Nombres</p>
                <p><strong>CUIL</strong>@usuario.Cuil</p>
                <p><strong>Última vez conectado</strong>@usuario.UltimoAcceso.ToString("G")</p>
            </article>
        </button>
    }
</section>
