@model IEnumerable<WebApplication1.ViewModels.UsuarioListarVM>;

@{
    ViewData["Title"] = "Usuarios";
}

<h1 class="titulo-vista">Usuarios</h1>
<a href="#" class="btn btn-success">+ Nuevo usuario</a>
<section id="lista">
    @foreach(var usuario in Model)
    {
        <button type="button" class="btn" data-bs-toggle="modal" data-bs-target="#infoUsuario">
            <article>
                <img src="@($"https://avatar.iran.liara.run/username?username={usuario.apellidos}+{usuario.nombres}")"/>
                <h2>
                    @usuario.nombreUsuario
                </h2>
                <p><strong>Nombre Completo</strong>@usuario.apellidos, @usuario.nombres</p>
                <p><strong>CUIL</strong>@usuario.cuil</p>
                <p><strong>Última vez conectado</strong>@usuario.ultimoAcceso.ToString("G")</p>
            </article>
        </button>
    }
</section>
